.vscode
.vagrant
.DS_Store
/build/
/e/build/
.idea/
*.test
flymake*
*tar
*gz
*tar.gz
*tgz
/assets/**/registry/
*.swp
gravity.log
/version
/assets/vagrant/**/wizard/
# Terraform state
.terraform
terraform.tfstate*
# Ansible retry files
*.retry
