.vscode
.vagrant
.DS_Store
*.test
flymake*
*tar
*gz
*tar.gz
*tgz
assets/**/registry
*.swp
gravity.log
/version
/assets/vagrant/**/wizard
docs/latest.yaml
# Terraform state
.terraform
terraform.tfstate*
# Ansible retry files
*.retry
