# Planet
{{.StateDir}}(/.*)?		gen_context(system_u:object_r:gravity_home_t,s0)
{{.StateDir}}/logrange(/.*)?		gen_context(system_u:object_r:gravity_container_logger_home_t,s0)
{{.StateDir}}/planet(/.*)?	 gen_context(system_u:object_r:gravity_container_home_t,s0)
{{.StateDir}}/planet/kubelet(/.*)?	 gen_context(system_u:object_r:gravity_kubelet_home_t,s0)
{{.StateDir}}/planet/kubelet/device-plugins(/.*)?	 gen_context(system_u:object_r:container_file_t,s0)
{{.StateDir}}/planet/kubelet/plugins_registry(/.*)?	 gen_context(system_u:object_r:container_file_t,s0)
{{.StateDir}}/planet/kubelet/plugins(/.*)?	 gen_context(system_u:object_r:container_file_t,s0)
{{.StateDir}}/local/packages/unpacked/gravitational\.io/planet/.*/rootfs(/.*)?	gen_context(system_u:object_r:gravity_container_file_t,s0)
{{.StateDir}}/local/packages/unpacked/gravitational\.io/planet/.*/rootfs/usr/bin/planet	-- gen_context(system_u:object_r:gravity_container_runtime_exec_t,s0)
{{.StateDir}}/local/packages/unpacked/gravitational\.io/planet/.*/rootfs/usr/bin/gravity	-- gen_context(system_u:object_r:gravity_exec_t,s0)
{{.StateDir}}/local/packages/unpacked/gravitational\.io/planet/.*/rootfs/usr/bin/nsenter -- gen_context(system_u:object_r:container_runtime_exec_t,s0)
{{.StateDir}}/local/packages/unpacked/gravitational\.io/planet/.*/rootfs/usr/bin/registry -- gen_context(system_u:object_r:container_runtime_exec_t,s0)
{{.StateDir}}/local/packages/unpacked/gravitational\.io/planet/.*/rootfs/usr/bin/coredns -- gen_context(system_u:object_r:gravity_service_exec_t,s0)
{{.StateDir}}/local/packages/unpacked/gravitational\.io/planet/.*/rootfs/usr/bin/serf -- gen_context(system_u:object_r:gravity_service_exec_t,s0)
{{.StateDir}}/local/packages/unpacked/gravitational\.io/planet/.*/rootfs/usr/bin/etcdctl-cmd -l gen_context(system_u:object_r:gravity_service_exec_t,s0)
{{.StateDir}}/local/packages/unpacked/gravitational\.io/planet/.*/rootfs/usr/bin/etcd.* -- gen_context(system_u:object_r:gravity_service_exec_t,s0)
{{.StateDir}}/local/packages/unpacked/gravitational\.io/planet/.*/rootfs/usr/bin/flannel -- gen_context(system_u:object_r:gravity_service_exec_t,s0)
{{.StateDir}}/local/packages/unpacked/gravitational\.io/planet/.*/rootfs/usr/bin/kube.*	-- gen_context(system_u:object_r:gravity_kubernetes_exec_t,s0)
{{.StateDir}}/local/packages/unpacked/gravitational\.io/planet/.*/rootfs/usr/bin/node-problem-detector	-- gen_context(system_u:object_r:gravity_kubernetes_exec_t,s0)
{{.StateDir}}/local/packages/unpacked/gravitational\.io/planet/.*/rootfs/usr/local/bin/kubectl	-- gen_context(system_u:object_r:gravity_kubernetes_exec_t,s0)
{{.StateDir}}/local/packages/unpacked/gravitational\.io/planet/.*/rootfs/usr/bin/systemd	-l gen_context(system_u:object_r:gravity_container_init_exec_t,s0)
{{.StateDir}}/local/packages/unpacked/gravitational\.io/planet/.*/rootfs/usr/bin/systemctl	-- gen_context(system_u:object_r:gravity_container_systemctl_exec_t,s0)
{{.StateDir}}/local/packages/unpacked/gravitational\.io/planet/.*/rootfs/usr/bin/journalctl	-- gen_context(system_u:object_r:gravity_container_systemctl_exec_t,s0)
{{.StateDir}}/local/packages/unpacked/gravitational\.io/planet/.*/rootfs/usr/bin/systemd-.*	-- gen_context(system_u:object_r:gravity_container_init_exec_t,s0)
{{.StateDir}}/local/packages/unpacked/gravitational\.io/planet/.*/rootfs/usr/bin/docker.* -- gen_context(system_u:object_r:container_runtime_exec_t,s0)
{{.StateDir}}/local/packages/unpacked/gravitational\.io/planet/.*/rootfs/usr/bin/runc -- gen_context(system_u:object_r:container_runtime_exec_t,s0)
{{.StateDir}}/local/packages/unpacked/gravitational\.io/planet/.*/rootfs/usr/bin/containerd.* -- gen_context(system_u:object_r:container_runtime_exec_t,s0)
{{.StateDir}}/local/packages/unpacked/gravitational\.io/planet/.*/rootfs/usr/bin/dbus-.*	-- gen_context(system_u:object_r:gravity_container_init_exec_t,s0)
{{.StateDir}}/local/packages/unpacked/gravitational\.io/planet/.*/rootfs/usr/sbin/rpcbind	-- gen_context(system_u:object_r:gravity_container_init_exec_t,s0)
{{.StateDir}}/local/packages/unpacked/gravitational\.io/planet/.*/rootfs/usr/lib/systemd/systemd.* -- gen_context(system_u:object_r:gravity_container_init_exec_t,s0)
{{.StateDir}}/local/packages/unpacked/gravitational\.io/planet/.*/rootfs/usr/lib/systemd/system-generators/system.* -- gen_context(system_u:object_r:gravity_container_init_exec_t,s0)
{{.StateDir}}/local/packages/unpacked/gravitational\.io/planet/.*/rootfs/usr/lib/systemd/system/etcd.*\.service --	gen_context(system_u:object_r:gravity_unit_file_t,s0)
{{.StateDir}}/local/packages/unpacked/gravitational\.io/planet/.*/rootfs/usr/lib/systemd/system/flanneld\.service --	gen_context(system_u:object_r:gravity_unit_file_t,s0)
{{.StateDir}}/local/packages/unpacked/gravitational\.io/planet/.*/rootfs/usr/lib/systemd/system/coredns\.service --	gen_context(system_u:object_r:gravity_unit_file_t,s0)
{{.StateDir}}/local/packages/unpacked/gravitational\.io/planet/.*/rootfs/usr/lib/systemd/system/kube-apiserver\.service --	gen_context(system_u:object_r:gravity_unit_file_t,s0)
{{.StateDir}}/local/packages/unpacked/gravitational\.io/planet/.*/rootfs/usr/lib/systemd/system/kube-controller-manager\.service --	gen_context(system_u:object_r:gravity_unit_file_t,s0)
{{.StateDir}}/local/packages/unpacked/gravitational\.io/planet/.*/rootfs/usr/lib/systemd/system/kube-kubelet\.service --	gen_context(system_u:object_r:gravity_unit_file_t,s0)
{{.StateDir}}/local/packages/unpacked/gravitational\.io/planet/.*/rootfs/usr/lib/systemd/system/kube-proxy\.service --	gen_context(system_u:object_r:gravity_unit_file_t,s0)
{{.StateDir}}/local/packages/unpacked/gravitational\.io/planet/.*/rootfs/usr/lib/systemd/system/kube-scheduler\.service --	gen_context(system_u:object_r:gravity_unit_file_t,s0)
{{.StateDir}}/local/packages/unpacked/gravitational\.io/planet/.*/rootfs/usr/lib/systemd/system/planet-agent\.service --	gen_context(system_u:object_r:gravity_unit_file_t,s0)
{{.StateDir}}/local/packages/unpacked/gravitational\.io/planet/.*/rootfs/usr/lib/systemd/system/serf\.service --	gen_context(system_u:object_r:gravity_unit_file_t,s0)
{{.StateDir}}/local/packages/unpacked/gravitational\.io/planet/.*/rootfs/usr/lib/systemd/system/docker\.service --	gen_context(system_u:object_r:gravity_unit_file_t,s0)
{{.StateDir}}/local/packages/unpacked/gravitational\.io/planet/.*/rootfs/usr/lib/systemd/system/registry\.service --	gen_context(system_u:object_r:gravity_unit_file_t,s0)
{{.StateDir}}/local/packages/unpacked/gravitational\.io/planet/.*/rootfs/usr/lib/systemd/system/offline-container-import\.service --	gen_context(system_u:object_r:gravity_unit_file_t,s0)

# Docker
{{.StateDir}}/planet/registry(/.*)?	gen_context(system_u:object_r:container_var_lib_t,s0)
{{.StateDir}}/planet/docker(/.*)?	gen_context(system_u:object_r:container_var_lib_t,s0)
{{.StateDir}}/planet/docker/.*/config\.env	gen_context(system_u:object_r:container_share_t,s0)
{{.StateDir}}/planet/docker/containers/.*/.*\.log		gen_context(system_u:object_r:container_log_t,s0)
{{.StateDir}}/planet/docker/containers/.*/hostname		gen_context(system_u:object_r:container_share_t,s0)
{{.StateDir}}/planet/docker/containers/.*/hosts		gen_context(system_u:object_r:container_share_t,s0)
{{.StateDir}}/planet/docker/init(/.*)?		gen_context(system_u:object_r:container_share_t,s0)
{{.StateDir}}/planet/docker/overlay(/.*)?	gen_context(system_u:object_r:container_share_t,s0)
{{.StateDir}}/planet/docker/overlay2(/.*)?	gen_context(system_u:object_r:container_share_t,s0)
