.grv-ver-selector{    
  text-align: end;
  position: absolute;
  top: 75px;
  right: 0px;
  padding-top: 0px;

  label {
      display: inline;
      padding-right: 10px;
      color: #555;
  }

  select {    
    width: 60px;       
    background-color: buttonface;
    border-radius: 2px;
    font-size: 100%;
    padding: 1px 0px;
    border-width: 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
  }
  
  @include respond-to('mobile') {
    display: none;
  }
}

.wy-nav-content {
    .rst-content {
        position: relative;
    }
}
